.Home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
  padding: 1rem 2rem;
  min-height: 100vh;
  background: #fff;
}

@media (max-width: 1200px) {
  .Home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .Home {
    grid-template-columns: 1fr;
  }
}